body {
	background-color: #6E6E6E;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	//background-color: #4d0000;
	width: 1050px;
	//height: 800px;
}

#header {
	width: 100%;
	height: 150px;
	background-color: #E4790C;
	margin-bottom: 0px;
}

#menue-top {
	width: 100%;
	height: 50px;
	background-color: #63E31F;
	margin-bottom: 0px;
}

#menue-left {
	width: 250px;
	//height: 600px;
	background-color: #150CE4;
	float: left;
	margin-bottom: 30px;
	margin-right: 0px;
}

#content {
	width: 800px;
	//height: 600px;
	background-color: #EFF8FB;
	float: right;
	margin-bottom: 30px;
}

#footer {
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 1050px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
}

.shadow  {
	-webkit-box-shadow: 0px 0px 30px #000;
	-moz-box-shadow: 0px 0px 30px #000;
	box-shadow: 0px 0px 30px #000;
}
